/*  ==========================
    CSS RESET
    ==========================  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*  ==========================
    My CSS
    ==========================  */

:root {
    --clr-darkblue-title: #2a293d;
    --clr-white: #fafafa;
    --clr-teal-btn: #4c95a9;
    --clr-grey-text: #a8a8b2;
    --clr-purple-btn: #8560b1;
}

h1, h2, p, a {
    font-family: "Red Hat Display", sans-serif;
}

h1 , h2 {
    color: var(--clr-darkblue-title);
}

p {
    color: var(--clr-grey-text);
}

a {
    text-decoration: none;
    font-weight: 800;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.hero__grid {
    display: grid;
    grid-template-areas: 
    'imgLeft imgRight'
    'heroContent heroContent'
    ;
}

.hero__img--left {
    grid-area: imgLeft;
}

.hero__img--right {
    grid-area: imgRight;
}

.hero__content {
    grid-area: heroContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    text-align: center;
    gap: 1rem;
    padding: 0 1.5rem;
}

.hero__title {
    font-size: clamp(2.5rem,9vw,3.5rem);
    font-weight: 900;
}

.hero__description {
  color: var(--clr-darkblue-title);
}

.hero__btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.btn--blue {
    background-color: var(--clr-teal-btn);
    padding: 1rem;
    color: var(--clr-white);
    border-radius: 2rem;
    width: 12rem;
}


.btn--purple {
    background-color: var(--clr-purple-btn);
    padding: 1rem;
    color: var(--clr-white);
    border-radius: 2rem;
    width: 12rem;
}

.chat {
    padding: 1.5rem;
}

.numwrapper {
  margin: 3rem 0rem;
}

.line {
  margin: 0 auto;
  border: 1px solid var(--clr-grey-text);
  width: 0;
  height: 75px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-grey-text);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 5px;
  font-weight: 800;
}

.chat__grid {
    display: grid;
    grid-template-areas: 
    'woman women'
    'men man'
    ;
    gap: 1rem;
    margin-bottom: 3rem;
}

.chat__woman {
    grid-area: woman;
    border-radius: 1rem;
}

.chat__women {
    grid-area: women;
    border-radius: 1rem;
}

.chat__men {
    grid-area: men;
    border-radius: 1rem;
}

.chat__man {
    grid-area: man;
    border-radius: 1rem;
}

.chat__content {
  text-align: center;
}

.chat__description--bold {
  color: var(--clr-teal-btn);
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.chat__title {
  margin: 1rem 0rem 2rem;
  color: var(--clr-darkblue-title);
  font-weight: 900;
  font-size: clamp(2rem,4vw,3rem);
}

.chat__description {
  font-weight: 700;
}


.numwrapper--2 {
  margin: 0;
  position: relative;

}

.numwrapper--2 .number {
  margin-bottom: -25px;
  background-color: white;
}

.offer {
  background: linear-gradient(rgba(76, 149, 169, 0.8), rgba(76, 149, 169, 0.8)),url(starter-code/assets/mobile/image-footer.jpg) center/cover no-repeat;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.offer__title {
  color: white;
  font-weight: 900;
  font-size: 2rem;
  overflow-wrap: normal;
}

.offer__description {
  color: white;
  font-weight: 500;
}

@media (min-width: 48rem) and (max-width: 63.9rem) {
  .hero__content {
    max-width: 28rem;
    margin: 4rem auto 1rem;
  }

  .hero__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }

  .chat__grid {
    max-width: 42.5rem;
    margin: 0 auto 3rem;
    display: grid;
    grid-template-areas: 
    'woman women men man'
    ;
    gap: 1rem;
  }

  .chat__content {
    max-width: 31.5rem;
    margin: 0 auto 1rem;
  }

  .offer {
    background: linear-gradient(rgba(76, 149, 169, 0.8), rgba(76, 149, 169, 0.8)),url(starter-code/assets/tablet/image-footer.jpg) center/cover 
  }

  .offer__title, .offer__description {
    max-width: 31.5rem;
    margin: 0 auto 1rem;
  }
}

@media (min-width: 64rem) {
  .hero__grid {
    margin: auto;
    display: grid;
    grid-template-areas: 
    'imgLeft heroContent imgRight'
    ;
}

.hero__img--right {
  display: flex;
  justify-content: end;
}
  
  .hero__content {
    max-width: 28rem;
    margin: 4rem auto 1rem;
  }

  .hero__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }

  .chat__grid {
    max-width: 70rem;
    margin: 3rem auto;
    display: grid;
    grid-template-areas: 
    'woman women men man'
    ;
    gap: 1rem;
  }

  .chat__content {
    max-width: 31.5rem;
    margin: 0 auto 1rem;
  }

  .offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 5rem;
    text-align: start;
    background: linear-gradient(rgba(76, 149, 169, 0.8), rgba(76, 149, 169, 0.8)),url(starter-code/assets/tablet/image-footer.jpg) center/cover 
  }

  .offer__title {
    max-width: 27.813rem;

  } 
  
  .offer__description {
    max-width: 20.938rem;
  }

}